{% extends 'base.html' %}
{% block content %}
<main class="main main--about">
    <p>
        Experienced IT professional with over 13 years of expertise in software development, specializing in Cloud and DevOps Automation. Proven track record in Container Engineering, web service development, system integrations, and successful production implementations. Adept at Automation, SRE, and Agile Methodology. Proven ability to navigate complex technical landscapes, deliver innovative solutions, and contribute to dynamic teams in DevOps and Cloud environments.
        <br><br>
        ☁️ Cloud Platforms: AWS, Azure<br>
        🔧 Automation & IaC: Terraform, Ansible<br>
        ⚙️ CI/CD: Jenkin, ArgoCD<br>
        🐳 Containerization: Docker, Kubernetes, OpenShift<br>
        📊 Monitoring & Logging: Prometheus, Grafana, EFK<br>
        🔍 Version Control & SCM: Git, Github<br>
        💻 Scripting & Automation: Shell Scripting, Python<br><br>
        
        "I’m dedicated to continuous growth and consistently seek opportunities to learn and explore emerging technologies that foster innovation in the DevOps space.
        <br><br>
        Let’s connect — feel free to reach out via direct message.
    <!-- Seeking to leverage a challenging work in Devops Enginering, SRE, Cloud Migrations with adherence in achieving the organization goals. -->
    </p>
    <!-- <section id="comp-kf5n7ph73" class="_3d64y">
        <div id="bgLayers_comp-kf5n7ph73" data-hook="bgLayers" class="_3wnIc">
            <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
            <div id="bgMedia_comp-kf5n7ph73" class="_2GUhU"></div>
        </div>
        <div data-testid="columns" class="_1uldx">
            <div id="comp-kf5n7ph74" class="_1vNJf">
                <div id="bgLayers_comp-kf5n7ph74" data-hook="bgLayers" class="_3wnIc">
                    <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                    <div id="bgMedia_comp-kf5n7ph74" class="_2GUhU"></div>
                    <div data-mesh-id="comp-kf5n7ph74inlineContent" data-testid="inline-content" class="">
                        <div data-mesh-id="comp-kf5n7ph74inlineContent-gridContainer"
                            data-testid="mesh-container-content">
                            <br> <br>
                            <div id="comp-kf5n7ph8" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <p class="font_8" style="text-align:left; line-height:1.75em; font-size:18px;"><span
                                        class="color_11">August 2016 - Present</span></p>
                            </div>
                            <div id="comp-kf5n7ph82" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <h3 class="font_0" style="text-align:left; line-height:1.41em; font-size:22px;"><span
                                        class="color_32"><span style="text-transform:uppercase;">DevSecops Engineer, TATA Consultancy Services</span></span></h3>
                            </div>
                            <div id="comp-kf5n7ph81" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <ul class="font_9 color_11" style="text-align:left; font-size:15px;">
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Experience working with container-based deployments for Microservice applications using  Docker, Docker Hub and Docker-registries.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Experience in working on AWS services like  AWS IAM, VPC, EC2, EKS, ECS, EBS,  S3, ELB, Auto Scaling, Route 53, Cloud Front, Cloud Watch, Cloud Trail, and SNS.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Experienced in Cloud automation using  AWS Cloud Formation templates to create custom sized  VPC, subnets, NAT, EC2 instances, ELB and Security groups.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Worked on AWS CI/CD Pipeline to deploy application on AWS  Elastic Beanstalk.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Proficient in CI/CD process which integrates GIT, Nexus, SonarQube, Maven artifacts build with Jenkins, creating Docker image in Dockerhub to deploy PODS over Kubernetes using HELM charts.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Building and deploying various micro services in AWS  EKS.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Creating and maintaining  namespaces, configmaps, secrets, service, ingress, rbac in kubernetes.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Hosted Kubernetes cluster with KOPS on AWS EC2.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Implemented and maintained the Branching and build/release strategies utilizing  GIT.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Used Python Fabric to deploy web application on different hosts.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Configured webservers on remote hosts, created AWS resources with  Ansible 2.10.</span></p>
                                    </li>
                                </ul>
                            </div>
                            <br> <br>
                            <div id="comp-kf5n7ph83" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <p class="font_8" style="text-align:left; line-height:1.75em; font-size:18px;">
                                    <span class="color_11">April 2014 - July 2016</span>
                                </p>
                            </div>
                            <div id="comp-kf5n7ph85" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <h3 class="font_0" style="text-align:left; line-height:1.41em; font-size:22px;">
                                    <span class="color_32">
                                        <span style="text-transform:uppercase;">Senior Lead Developer, TATA Consultancy Services </span>
                                    </span>
                                </h3>
                            </div>
                            <div id="comp-kf5n7ph84" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <ul class="font_9 color_11" style="text-align:left;
                font-size:15px;">
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em;
                        font-size:15px;"><span class="color_11">Led a project migrating AIX hosted Cache monolithic application into  Linux hosted Ensemble Microservices application.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Migrated Cache global data into Cache classes.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Setup HL7 Integrations, Auto SFTP for data extracts to downstream systems.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Developed webservices which generate files, HL7 messages, xml's. and review of development team work.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Developed a document processing system to read data from inbound file and enroll into membership system.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Developed Webservices with Python and MongoDB.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Created Ensemble Business service to handle inbound files and  Business Operations to generate summary files.</span></p>
                                    </li>

                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Developed Ensemble Business process, DTL, record mapper to route process flow on the Autodoc enrollment.</span></p>
                                    </li>

                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Worked on a project upgrading Intersystems Ensemble instances.</span></p>
                                    </li>

                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Worked as an Intersystems Cache Administrator, which includes hosting Ensemble/IRIS instances on servers, user access & Role provisioning, creating web Applications, ECP & Mirror setup, etc.</span></p>
                                    </li>
                                </ul>
                            </div>


<br> <br>
                            <div id="comp-kf5n7ph83" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <p class="font_8" style="text-align:left; line-height:1.75em; font-size:18px;">
                                    <span class="color_11">November 2011 - March 2014</span>
                                </p>
                            </div>
                            <div id="comp-kf5n7ph85" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <h3 class="font_0" style="text-align:left; line-height:1.41em; font-size:22px;">
                                    <span class="color_32">
                                        <span style="text-transform:uppercase;">Production Support Developer, TATA Consultancy Services </span>
                                    </span>
                                </h3>
                            </div>
                            <div id="comp-kf5n7ph84" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                <ul class="font_9 color_11" style="text-align:left;
                font-size:15px;">
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em;
                        font-size:15px;"><span class="color_11">Led a Production support and Operations teams of 20+ members in both Onsite and Offshore, provided solutions via code fix, data fix and work arounds.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Responsible for monitoring the production servers, scheduled jobs, incident management and provide support fixes to cache applications.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Handled high and critical priority incidents for the team and provided root cause and resolutions.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Created cache scripts and timed job to monitor the manual monthly activities such as Dunning Report.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Managed monthly Releases and expedited changes to Cache production system.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Generated cache Extract data from application databases on adhoc basis.</span></p>
                                    </li>
                                    <li style="line-height:1.875em;">
                                        <p class="font_9" style="line-height:1.875em; font-size:15px;"><span
                                                class="color_11">Maintained Audit for compliance and control of procedures/records per  SOX standards.</span></p>
                                    </li>
                                </ul>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <div data-mesh-id="comp-kf2kd0x3inlineContent" data-testid="inline-content" class="">
        <div data-mesh-id="comp-kf2kd0x3inlineContent-gridContainer" data-testid="mesh-container-content">
            <section id="comp-kgwowru4" class="_3d64y">
                <div id="bgLayers_comp-kgwowru4" data-hook="bgLayers" class="_3wnIc">
                    <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                    <div id="bgMedia_comp-kgwowru4" class="_2GUhU"></div>
                </div>
                <div data-testid="columns" class="_1uldx">
                    <div id="comp-kgwowru41" class="_1vNJf">
                        <div id="bgLayers_comp-kgwowru41" data-hook="bgLayers" class="_3wnIc">
                            <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                            <div id="bgMedia_comp-kgwowru41" class="_2GUhU"></div>
                        </div>

                    </div>
                </div>
            </section>

    </div>
    <div data-mesh-id="comp-kf2kd0x3inlineContent" data-testid="inline-content" class="">
        <div data-mesh-id="comp-kf2kd0x3inlineContent-gridContainer" data-testid="mesh-container-content">
            <section id="comp-kgwowru4" class="_3d64y">
                <div id="bgLayers_comp-kgwowru4" data-hook="bgLayers" class="_3wnIc">
                    <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                    <div id="bgMedia_comp-kgwowru4" class="_2GUhU"></div>
                </div>
                <div data-testid="columns" class="_1uldx">
                    <div id="comp-kgwowru41" class="_1vNJf">
                        <div id="bgLayers_comp-kgwowru41" data-hook="bgLayers" class="_3wnIc">
                            <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                            <div id="bgMedia_comp-kgwowru41" class="_2GUhU"></div>
                        </div>
                        <div data-mesh-id="comp-kgwowru41inlineContent" data-testid="inline-content" class="">
                            <div data-mesh-id="comp-kgwowru41inlineContent-gridContainer"
                                data-testid="mesh-container-content">
                                <div id="comp-kgwowru42" class="_1Q9if _3bcaz" data-testid="richTextElement">
                                    <h2 class="font_6" style="text-align:center; line-height:1.35em; font-size:40px;">
                                        <span class="color_32"><span
                                                style="text-transform:uppercase;">ACADEMICS</span></span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div id="comp-kf2kd0x42" class="_1Q9if _3bcaz" data-testid="richTextElement">
                <p class="font_8" style="text-align:left; line-height:1.75em; font-size:18px;"><span
                        class="color_11">June 2007 - April 2011</span></p>
            </div>
            <div id="comp-kf2kd0x5" class="_1Q9if _3bcaz" data-testid="richTextElement">
                <h3 class="font_0" style="line-height:1.41em; font-size:22px;"><span class="color_11"><span
                            style="text-decoration:underline;"><a>BACHLEOR OF ENGINEERING IN ELECTRONICS AND COMMUNICATIONS</a></span></span></h3>
            </div>
            <div data-mesh-id="comp-kf2kd0x3inlineContent-wedge-3"></div>
        </div>
    </div> -->
</main>


{% endblock %}