{% extends 'base.html' %}
{% block content %}
    <main class="main main--home">
        <section class="projects">
            {% for tec in certslist %}
                   <article class="cert-card">
                    {% fname = url_for('static', filename='img/pointer.svg') %}  
                        <!-- {% set fname = 'static\\img\\certs\\' + tec %} -->
                    <img class="cert-card__image"
                        src="{{ url_for('static', filename='img/certs' + tec + '.png') }}">
                           
                    </article>
            {% endfor %}
        </section>
    </main>
    <div id="mycerSidenav">
        <!-- <a id="add_cert" href="{{ url_for('add_certs') }}">
            Add new Certs
        </a> -->
    </div>
{% endblock %}
