{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:jose@tecladocode.com">
                        ashoksatheesh90@gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/tecladocode">
                        https://github.com/satzwebio
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Twitter:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://twitter.com/satzwebio">
                        @satzwebio
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}
